package: profile-emacs
priority: normal
maintainer: Jon Daniel <binarycleric@gmail.com>
depends: profile-base
standards-version: 1
description: Sets your default editor to emacs

dirs:
 .profile.d

mkdirs:
 .profile.d
